.cart {
    width: 100%;
    
}

.cart-header {
    margin: 20px 0 40px;
}

.cart-headers {
    @include cartGird();
    margin: 20px 0;
    h2 {
        justify-self: center;
        font-size: 20px;
        font-weight: 200;
    }
}

.total {
    text-align: right;
    margin:  40px 20px;
    font-size: 20px;
    font-weight: 200;
}

.checkout {
    background: $dark-3;
    color: $light-0;
    @include buttonStyle();
    @include hoverFocus();
}