.category-header {
    border-bottom:  1px solid $dark-6;
    width: 50%;
    margin: auto;
    font-size: 26px;
    font-weight: 400;
    text-transform: capitalize;
}

.category-product-list {
    display: grid;
    padding: 20px;
    grid-gap: 40px;
    @media (min-width: 769px){
        grid-template-columns: 1fr 1fr;
    }
}