.scrolling-links-container {
    height: 60vmax;
    width: 100%;
    overflow-y: hidden;
    background: $light-3;
    .link .category-link {
        position: absolute;
        top: 40vmax;
        height: 8vmax;
        display: flex;
        align-items: center;
        font-size: calc(2vmax + 6px);
        padding: 0 5vw;
        margin: 0 10vw;
        background: $brand;
        border-radius: 3px;
    }
}

.link {
    height: auto;
    width: inherit;
    width: calc(1000px - 40px);
    max-width: calc(100% - 40px);
    position: absolute;
    opacity: 0;
    transition: 1s;
    z-index: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.link-img {
    height: 60vmax;
    width: 100%;
    max-width: calc(100vw - 40px);
    filter: grayscale(1.0);
    opacity: .65;
    object-position: center;
    object-fit: cover;
}

.in-view {
    z-index: 10;
    opacity: 1;
    width: calc(1000px - 40px);
    max-width: calc(100% - 40px);
}

.mission {
    height: 50vh;
    display: flex;
    align-items: center;
    color: $dark-3;
    p {
        font-size: calc(5vmax + 5px);
        line-height: calc(5vmax + 5px);
        text-align: right;
        margin: 0 10vw;
    }
}