.product-grid {
    display: grid;
    @media (min-width: 769px){
        grid-template-columns: auto 1fr;
        .product-grid-section-two {
            margin: auto;
        }
    }
    h1 {
        font-weight: 400;
    }
}
.product-brand {
    text-transform: capitalize;
}
.product-additional-specs {
    @media (min-width: 450px){
        padding: 0 40px;
    }
}