.cart-preview-container {
    @include slideOutBaseStyle();
    right: -1px;
    z-index: 99;
    h2 {
        text-align: center;
    }
    ul {
        li {
            text-align: right;
        }
    }
}

.cart-preview-active {
    @include slideOutActiveStyle();
    width: 500px;
    right: 0;
    max-width: 100%;
}