.cart-item {
    @include cartGird();
    align-items: center;
    margin: 40px 0;
}
.delete-item {
    background: none;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    margin: 10px;
    @include hoverFocus();
}

.item-description {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
    img {
        width: 40px;
        margin: auto;
        justify-self: left;
    }
    .description-text {
        margin: 0 20px;
        // justify-self: center;
    }
}
.item-quantity {
    width: 40px;
    height: 40px;
    justify-self: center;
    @include hoverFocus();
}
.item-price {
    justify-self: center;
}