.cart-item {
    @include cartGird();
    align-items: center;
    margin: 40px 0;
}
.delete-item {
    @include hoverFocus();
    background: none;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    font-size: 12px;
    margin: 10px 0;
    color: $dark-6;
    font-weight: 200;
    @media (min-width: 450px){
        margin: 10px auto;
        font-size: 16px;
    }
}

.item-description {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
    img {
        width: 40px;
        margin: auto;
        justify-self: left;
    }
    .description-text {
        margin: 0 10px;
        // justify-self: center;
    }
}
input.item-quantity {
    @include formInputStyling();
    padding: 20px 0;
    width: 40px;
    justify-self: center;
    @media (min-width: 450px){
        padding: 20px;
        width: 80px;
    }
}
.item-price {
    justify-self: center;
}