footer {
    background: $brand;
    margin-top: 40px;
    font-weight: 400;
    color: $dark-3;
    div {
        padding: 20px;
    }
    h4 {
        padding: 35px 0;
        font-size: 17px;
        font-weight: 500;
    } 
    .address p {
        font-size: 15px;
        color: $dark-3;
        font-weight: 400;
    }
    span {
        padding: 35px 0;
        display: block;
        font-size: 15px;
    }
}