header {
    position: relative;
    z-index: 100;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;
    .burger-btn {
        background: #ffffff;
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        margin: 20px;
        z-index: 1000;
        position: relative;
        @include hoverFocus();
        span {
            display: block;
            position: absolute;
            width: 30px;
            height: 3px;
            background: $dark-3;
            border-radius: 2px;
            margin: 5px;
            transition: .65s;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        span:nth-child(1) {
            top: 0;
        }
        span:nth-child(2) {
            width: 20px;
            left: 0;
            top: 13.5px;
        }
        span:nth-child(3) {
            bottom: 0;
        }
        &:hover , &:focus {
            transition: .65s;
            span:nth-child(2) {
                left: 10px;
            }
        }
    }
    .active {
        width: 40px;
        display: block;
        // position: fixed;
        span:nth-child(1){
            transform: rotate(0.125turn);
            top: 13px;
        }
        span:nth-child(2) {
            left: -100px;
        }
        span:nth-child(3){
            transform: rotate(-0.625turn);
            bottom: 13px;
        }
        &:hover , &:focus {
            span:nth-child(2) {
                left: -200px;
            }
        }
    }
}
.site-title {
    font-size: 24px;
    span {
        font-size: 16px;
    }
}

.header-cart {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    margin: 20px;
    z-index: 1000;
    @include hoverFocus();
    position: relative;
}

.cart-vector {
    width: 30px;
    margin: 5px;
}

.cart-count {
    position: absolute;
    top: -7.5px;
    right: -7.5px;
    background: #e00000;
    color: $light-0;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}