.main-menu {
    background: $light-1;
    overflow: hidden;
    width: 0;
    height: auto;
    min-height: 100vh;
    position: absolute;
    left: -1px;
    transition: .5s ease;
    z-index: 100;
    
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        display: none;
        li {
            text-align: center;
            padding: 10px 0;
        }
    }
    .main-menu-item {
        font-weight: 600;
        font-size: 20px;
    }
    .sub-list {
        li {
            font-weight: 400;
            font-size: 18px;
        }
    }
}

.main-menu-active {
    width: 100%;
    overflow: scroll;
    left: 0;
    ul {
        display: block;
    }
}