.main-menu {
    @include slideOutBaseStyle();
    left: -1px;
    z-index: 100;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        display: none;
        li {
            text-align: center;
            padding: 10px 0;
            height: 40px;
        }
        h3, a {
            font-size: 18px;
            line-height: 18px;
            height: 18px;
        }
    }
    .main-menu-item {
        font-weight: 600;
        font-size: 20px;
    }
    .sub-list {
        li {
            font-weight: 400;
            font-size: 18px;
        }
    }
    .shop-menu-header {
        display: block;
    }
    .shop-menu-btn {
        display: none;
        border: none;
        background: none;
    }
    @media (min-width: 769px){
        width: 100%;
        background: $light-0;
        position: static;
        top: 80px;
        transition: .5s ease;
        height: auto;
        min-height: 40px;
        .top-level-list {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 20px;
            li {
                text-align: center;
                padding: 14px 10px 6px;
                h3, a {
                    font-size: 16px;
                    line-height: 16px;
                    font-weight: 400;
                    display: block;
                }
                .shop-menu-btn {
                    display: block;
                    padding: 0;
                }
                .shop-menu-header {
                    display: none;
                }
            }
        }
    }
}

.main-menu-active {
    width: 100%;
    overflow: scroll;
    left: 0;
    ul {
        display: block;
    }
}