.main-menu {
    @include slideOutBaseStyle();
    left: -1px;
    z-index: 100;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        display: none;
        li {
            text-align: center;
            padding: 10px 0;
        }
        h3, a {
            font-size: 18px;
            line-height: 18px;
            height: 18px;
        }
        h3 {
            border-bottom: 1px solid $dark-5;
            padding-bottom: 10px;
            height: auto;
            width: 50%;
            margin: auto;
        }
    }
    .main-menu-item {
        font-weight: 600;
        font-size: 20px;
    }
    .sub-list {
        position: static;
        background: none;
        li {
            font-weight: 400;
            font-size: 18px;
        }
    }
    .shop-menu-header {
        display: block;
    }
    .shop-menu-btn {
        display: none;
        border: none;
        background: none;
    }
    @media (min-width: 769px){
        width: 100%;
        background: $light-0;
        position: static;
        top: 80px;
        transition: .5s ease;
        height: auto;
        min-height: 40px;
        .top-level-list {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 20px;
            li {
                text-align: center;
                padding: 14px 10px 6px;
                height: 40px;
                h3, a {
                    font-size: 16px;
                    line-height: 16px;
                    font-weight: 400;
                    display: block;
                    @include hoverFocus();
                }
                h3 {
                    width: 100%;
                }
                .shop-menu-btn {
                    display: block;
                    position: relative;
                    padding: 0;
                }
                .shop-menu-header {
                    display: none;
                }
            }
        }
        .sub-list {
            display: none;
            position: absolute;
            background: $light-1;
            box-shadow: -10px 10px $dark-5;
            top: 80px;
            li {
                font-weight: 400;
                font-size: 18px;
            }
        }
        .sub-list-active {
            display: block;
        }
    }
}

.main-menu-active {
    width: 100%;
    overflow: scroll;
    left: 0;
    ul {
        display: block;
    }
}