.product-image-gallery {
    margin: 20px auto;
    display: block;
    @media (min-width: 769px){
        display: flex;
        // margin auto;
    }
    .product-image {
        width: 275px;
        height: 400px;
        max-width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.product-thumbnails {
    display: none;
    margin: 0 20px;
    .product-thumbnail {
        width: 75px;
        height: 75px;
        display: block;
        border: none;
        margin-bottom: 20px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top center;
        }
    }
    @media (min-width: 769px){
        display: block;
    }
}