@mixin cartGird(){
    display: grid;
    grid-template-columns: 25px auto 40px 60px;
    @media (min-width: 450px){
        grid-template-columns: 80px auto 80px 80px;
    }
}

@mixin hoverFocus(){
    outline: none;
    transition: .1s;
    &:hover, &:focus {
        outline-offset: 3px;
        outline: 2px solid $dark-3;
    }
}

@mixin buttonStyle(){
    border: none;
    outline: none;
    width: 335px;
    height: 50px;
    display: block;
    margin: 40px auto;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    @include hoverFocus();
}

@mixin slideOutBaseStyle(){
    background: $light-1;
    overflow: hidden;
    width: 0;
    position: absolute;
    transition: .5s ease;
    height: auto;
    min-height: 100vh;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        display: none;
        li {
            text-align: center;
            padding: 10px 0;
        }
    }
}

@mixin slideOutActiveStyle(){
    overflow: scroll;
    ul {
        display: block;
    }
}

@mixin formFontStyling(){
    font-size: 20px;
    font-weight: 300;
}

@mixin formInputStyling(){
    width: 80px;
    height: 40px;
    padding: 20px;
    font-size: 20px;
    color: $dark-5;
    border: 1px solid $light-3;
    text-align: center;
    @include hoverFocus();
}