@mixin cartGird(){
    display: grid;
    grid-template-columns: 40px auto 50px 50px;
}

@mixin hoverFocus(){
    outline: none;
    &:hover, &:focus {
        outline-offset: 3px;
        outline: 2px solid $dark-3;
    }
}

@mixin buttonStyle(){
    border: none;
    outline: none;
    width: 335px;
    height: 50px;
    display: block;
    margin: 40px auto;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    @include hoverFocus();
}

@mixin slideOutBaseStyle(){
    background: $light-1;
    overflow: hidden;
    width: 0;
    position: absolute;
    transition: .5s ease;
    height: auto;
    min-height: 100vh;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        display: none;
        li {
            text-align: center;
            padding: 10px 0;
        }
    }
}

@mixin slideOutActiveStyle(){
    overflow: scroll;
    ul {
        display: block;
    }
}

// @mixin tabletBreak($content){
//     @media (min-width: 769px){
//         $content
//     }
// }