$brand: #ff9966;

$dark-0: #101010;
$dark-1: #202020;
$dark-3: #303030;
$dark-4: #404040;
$dark-5: #505050;
$dark-6: #666666;

$light-0: #ffffff;
$light-1: #f6f6f6;
$light-2: #f0f0f0;
$light-3: #d0d0d0;
$light-4: #b0b0b0;