@import 
    'reset/reset';

@import 
    'abstract/variables',
    'abstract/mixins';

@import 
    'components/cart-item',
    'components/cart-preview',
    'components/prices',
    'components/product-card',
    'components/product-form',
    'components/product-gallery',
    'components/product-options',
    'components/header',
    'components/menu',
    'components/footer';

@import
    'pages/cart',
    'pages/category',
    'pages/home',
    'pages/product';

body {
    overflow-x: hidden;
}

h1 {
    padding: 40px 0;
    text-align: center;
}

p {
    color: $dark-5;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .5px;
}
.content {
    min-height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    max-width: 100%;
    padding: 40px 20px;
    background: $light-0;
    margin: auto auto 80px;
    & > * {
        width: 100%;
    }
}

.clipped {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    overflow: hidden;
    width: 0;
}

.loading {
    text-align: center;
}

.brand {
    background: $brand;
}