html,
body,
a,
ul,
li,
h1,
h2,
h3,
h4,
h5,
p,
span,
footer,
header,
nav,
button,
form,
fieldset,
legend {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

.cart-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25px auto 40px 60px;
      grid-template-columns: 25px auto 40px 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
}

@media (min-width: 450px) {
  .cart-item {
    -ms-grid-columns: 80px auto 80px 80px;
        grid-template-columns: 80px auto 80px 80px;
  }
}

.delete-item {
  outline: none;
  -webkit-transition: .1s;
  transition: .1s;
  background: none;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  font-size: 12px;
  margin: 10px 0;
  color: #666666;
  font-weight: 200;
}

.delete-item:hover, .delete-item:focus {
  outline-offset: 3px;
  outline: 2px solid #303030;
}

@media (min-width: 450px) {
  .delete-item {
    margin: 10px auto;
    font-size: 16px;
  }
}

.item-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px auto;
      grid-template-columns: 50px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-description img {
  width: 40px;
  margin: auto;
  -ms-grid-column-align: left;
      justify-self: left;
}

.item-description .description-text {
  margin: 0 10px;
}

input.item-quantity {
  width: 80px;
  height: 40px;
  padding: 20px 0;
  font-size: 20px;
  color: #505050;
  border: 1px solid #d0d0d0;
  text-align: center;
  outline: none;
  -webkit-transition: .1s;
  transition: .1s;
  padding: 20px 0;
  width: 40px;
  -ms-grid-column-align: center;
      justify-self: center;
}

input.item-quantity:hover, input.item-quantity:focus {
  outline-offset: 3px;
  outline: 2px solid #303030;
}

@media (min-width: 450px) {
  input.item-quantity {
    padding: 20px 0;
    width: 80px;
  }
}

.item-price {
  -ms-grid-column-align: center;
      justify-self: center;
}

.cart-preview-container {
  background: #f6f6f6;
  background: #f6f6f6;
  overflow: hidden;
  width: 0;
  position: absolute;
  top: 80px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  height: auto;
  min-height: 100vh;
  -webkit-box-shadow: -10px 10px #505050;
          box-shadow: -10px 10px #505050;
  right: -1px;
  z-index: 99;
}

.cart-preview-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  display: none;
}

.cart-preview-container ul li {
  text-align: center;
  padding: 10px 0;
}

.cart-preview-container h2 {
  text-align: center;
  padding-bottom: 20px;
}

.cart-preview-container ul {
  padding: 40px 20px;
}

.cart-preview-container ul li {
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-preview-container ul li .product-name {
  padding: 0 20px 0 0;
}

.cart-preview-container ul li img {
  width: 40px;
}

.cart-preview-container .checkout-link {
  border: none;
  outline: none;
  width: 335px;
  height: 50px;
  display: block;
  margin: 40px auto;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  outline: none;
  -webkit-transition: .1s;
  transition: .1s;
  background: #505050;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.cart-preview-container .checkout-link:hover, .cart-preview-container .checkout-link:focus {
  outline-offset: 3px;
  outline: 2px solid #303030;
}

@media (min-width: 450px) {
  .cart-preview-container {
    min-height: 0;
  }
}

.cart-preview-active {
  overflow: scroll;
  width: 500px;
  right: 0;
  max-width: 100%;
}

.cart-preview-active ul {
  display: block;
}

.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  background: rgba(48, 48, 48, 0.5);
}

.confirmation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 500px;
  max-width: 100%;
  z-index: 3000;
  background: #ffffff;
  padding: 40px 20px;
}

.confirmation-modal > * {
  text-align: center;
  padding: 10px;
}

.continue-to-shop {
  border: none;
  outline: none;
  width: 335px;
  height: 50px;
  display: block;
  margin: 40px auto;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  outline: none;
  -webkit-transition: .1s;
  transition: .1s;
  background: #ff9966;
}

.continue-to-shop:hover, .continue-to-shop:focus {
  outline-offset: 3px;
  outline: 2px solid #303030;
}

.selected {
  color: #303030;
}

.not-selected {
  color: #b0b0b0;
}

.product-card {
  margin: auto;
  text-align: center;
}

.product-card img {
  display: block;
  width: 125px;
  margin: 40px auto;
}

.product-card h2 {
  font-size: 22px;
  font-weight: 200;
  margin: 10px auto;
}

.product-card h2 span {
  text-transform: capitalize;
}

.product-card .product-lowest-price {
  font-size: 18px;
  font-weight: 200;
}

.product-form {
  margin: 20px auto;
  font-size: 20px;
  font-weight: 300;
}

.product-form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 40px;
  border: 1px solid #d0d0d0;
  max-width: 335px;
}

.product-form fieldset legend {
  padding: 0 20px;
  margin: auto;
}

.product-form .product-option-values {
  width: 50%;
  padding: 10px;
}

.product-form .product-option-values p {
  padding: 10px 0;
}

.product-form .values {
  width: calc( 50% + 17.5px);
}

.product-form .values p {
  outline: none;
  -webkit-transition: .1s;
  transition: .1s;
}

.product-form .values p:hover, .product-form .values p:focus {
  outline-offset: 3px;
  outline: 2px solid #303030;
}

.product-form .value-prices {
  width: calc( 50% - 17.5px);
}

.product-qty {
  display: block;
  margin: 5px auto;
  text-align: center;
}

input.product-qty {
  width: 80px;
  height: 40px;
  padding: 20px 0;
  font-size: 20px;
  color: #505050;
  border: 1px solid #d0d0d0;
  text-align: center;
  outline: none;
  -webkit-transition: .1s;
  transition: .1s;
}

input.product-qty:hover, input.product-qty:focus {
  outline-offset: 3px;
  outline: 2px solid #303030;
}

.add-to-cart-btn {
  background: #303030;
  color: #ffffff;
  border: none;
  outline: none;
  width: 335px;
  height: 50px;
  display: block;
  margin: 40px auto;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  outline: none;
  -webkit-transition: .1s;
  transition: .1s;
}

.add-to-cart-btn:hover, .add-to-cart-btn:focus {
  outline-offset: 3px;
  outline: 2px solid #303030;
}

.product-image-gallery {
  margin: 20px auto;
  display: block;
}

@media (min-width: 769px) {
  .product-image-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.product-image-gallery .product-image {
  width: 275px;
  height: 400px;
  max-width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-image-gallery .product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-thumbnails {
  display: none;
  margin: 0 20px;
}

.product-thumbnails .product-thumbnail {
  width: 75px;
  height: 75px;
  display: block;
  border: none;
  margin-bottom: 20px;
}

.product-thumbnails .product-thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

@media (min-width: 769px) {
  .product-thumbnails {
    display: block;
  }
}

.product-option-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.product-option-value label {
  padding: 0 20px;
}

header {
  position: relative;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

header .burger-btn {
  background: #ffffff;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  margin: 20px;
  z-index: 1000;
  position: relative;
  outline: none;
  -webkit-transition: .1s;
  transition: .1s;
}

header .burger-btn:hover, header .burger-btn:focus {
  outline-offset: 3px;
  outline: 2px solid #303030;
}

header .burger-btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  background: #303030;
  border-radius: 2px;
  margin: 5px;
  -webkit-transition: .65s;
  transition: .65s;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .burger-btn span:nth-child(1) {
  top: 0;
}

header .burger-btn span:nth-child(2) {
  width: 20px;
  left: 0;
  top: 13.5px;
}

header .burger-btn span:nth-child(3) {
  bottom: 0;
}

header .burger-btn:hover span:nth-child(2), header .burger-btn:focus span:nth-child(2) {
  left: 10px;
}

header .active {
  width: 40px;
  display: block;
}

header .active span:nth-child(1) {
  -webkit-transform: rotate(0.125turn);
          transform: rotate(0.125turn);
  top: 13px;
}

header .active span:nth-child(2) {
  left: -100px;
}

header .active span:nth-child(3) {
  -webkit-transform: rotate(-0.625turn);
          transform: rotate(-0.625turn);
  bottom: 13px;
}

header .active:hover span:nth-child(2), header .active:focus span:nth-child(2) {
  left: -200px;
}

@media (min-width: 769px) {
  header {
    -ms-grid-columns: 1fr auto 1fr;
        grid-template-columns: 1fr auto 1fr;
  }
  header .burger-btn {
    display: none;
  }
}

.site-title {
  font-size: 24px;
}

.site-title span {
  font-size: 16px;
}

.header-cart {
  outline: none;
  -webkit-transition: .1s;
  transition: .1s;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  margin: 20px;
  z-index: 1000;
  position: relative;
}

.header-cart:hover, .header-cart:focus {
  outline-offset: 3px;
  outline: 2px solid #303030;
}

@media (min-width: 769px) {
  .header-cart {
    -ms-grid-column-align: right;
        justify-self: right;
  }
}

.cart-vector {
  width: 30px;
  margin: 5px;
}

.cart-count {
  position: absolute;
  top: -7.5px;
  right: -7.5px;
  background: #e00000;
  color: #ffffff;
  font-size: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu {
  background: #f6f6f6;
  background: #f6f6f6;
  overflow: hidden;
  width: 0;
  position: absolute;
  top: 80px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  height: auto;
  min-height: 100vh;
  left: -1px;
  z-index: 100;
}

.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  display: none;
}

.main-menu ul li {
  text-align: center;
  padding: 10px 0;
}

.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  display: none;
}

.main-menu ul li {
  text-align: center;
  padding: 10px 0;
}

.main-menu ul h3, .main-menu ul a {
  font-size: 18px;
  line-height: 18px;
  height: 18px;
}

.main-menu ul h3 {
  border-bottom: 1px solid #505050;
  padding-bottom: 10px;
  height: auto;
  width: 50%;
  margin: auto;
}

.main-menu .main-menu-item {
  font-weight: 600;
  font-size: 20px;
}

.main-menu .sub-list {
  position: static;
  background: none;
}

.main-menu .sub-list li {
  font-weight: 400;
  font-size: 18px;
}

.main-menu .shop-menu-header {
  display: block;
}

.main-menu .shop-menu-btn {
  display: none;
  border: none;
  background: none;
}

@media (min-width: 769px) {
  .main-menu {
    width: 100%;
    background: #ffffff;
    position: static;
    top: 80px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    height: auto;
    min-height: 40px;
  }
  .main-menu .top-level-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .main-menu .top-level-list li {
    text-align: center;
    padding: 14px 10px 6px;
    height: 40px;
  }
  .main-menu .top-level-list li h3, .main-menu .top-level-list li a {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    display: block;
    outline: none;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .main-menu .top-level-list li h3:hover, .main-menu .top-level-list li h3:focus, .main-menu .top-level-list li a:hover, .main-menu .top-level-list li a:focus {
    outline-offset: 3px;
    outline: 2px solid #303030;
  }
  .main-menu .top-level-list li h3 {
    width: 100%;
  }
  .main-menu .top-level-list li .shop-menu-btn {
    display: block;
    position: relative;
    padding: 0;
  }
  .main-menu .top-level-list li .shop-menu-header {
    display: none;
  }
  .main-menu .sub-list {
    display: none;
    position: absolute;
    background: #f6f6f6;
    -webkit-box-shadow: -10px 10px #505050;
            box-shadow: -10px 10px #505050;
    top: 80px;
  }
  .main-menu .sub-list li {
    font-weight: 400;
    font-size: 18px;
  }
  .main-menu .sub-list-active {
    display: block;
  }
}

.main-menu-active {
  width: 100%;
  overflow: scroll;
  left: 0;
}

.main-menu-active ul {
  display: block;
}

footer {
  background: #ff9966;
  margin-top: 40px;
  font-weight: 400;
  color: #303030;
}

footer div {
  padding: 20px;
}

footer h4 {
  padding: 35px 0;
  font-size: 17px;
  font-weight: 500;
}

footer .address p {
  font-size: 15px;
  color: #303030;
  font-weight: 400;
}

footer span {
  padding: 35px 0;
  display: block;
  font-size: 15px;
}

.cart {
  width: 100%;
}

.cart-header {
  margin: 20px 0 40px;
}

.cart-headers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25px auto 40px 60px;
      grid-template-columns: 25px auto 40px 60px;
  margin: 20px 0;
}

@media (min-width: 450px) {
  .cart-headers {
    -ms-grid-columns: 80px auto 80px 80px;
        grid-template-columns: 80px auto 80px 80px;
  }
}

.cart-headers h2 {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 20px;
  font-weight: 200;
}

.cart-headers .item-header {
  -ms-grid-column-align: left;
      justify-self: left;
}

@media (min-width: 450px) {
  .cart-headers .item-header {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.total {
  text-align: right;
  margin: 40px 0;
  font-size: 20px;
  font-weight: 200;
}

.total span {
  padding-right: 20px;
}

.checkout {
  background: #303030;
  color: #ffffff;
  border: none;
  outline: none;
  width: 335px;
  height: 50px;
  display: block;
  margin: 40px auto;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  outline: none;
  -webkit-transition: .1s;
  transition: .1s;
  outline: none;
  transition: .1s;
}

.checkout:hover, .checkout:focus {
  outline-offset: 3px;
  outline: 2px solid #303030;
}

.checkout:hover, .checkout:focus {
  outline-offset: 3px;
  outline: 2px solid #303030;
}

.category-header {
  border-bottom: 1px solid #666666;
  width: 50%;
  margin: auto;
  font-size: 26px;
  font-weight: 400;
  text-transform: capitalize;
}

.category-product-list {
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 40px;
}

@media (min-width: 769px) {
  .category-product-list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.scrolling-links-container {
  height: 60vmax;
  width: 100%;
  overflow-y: hidden;
  background: #d0d0d0;
}

.scrolling-links-container .link .category-link {
  position: absolute;
  top: 40vmax;
  height: 8vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(2vmax + 6px);
  padding: 0 5vw;
  margin: 0 10vw;
  background: #ff9966;
  border-radius: 3px;
}

.link {
  height: auto;
  width: inherit;
  width: calc(1000px - 40px);
  max-width: calc(100% - 40px);
  position: absolute;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 100;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.link-img {
  height: 60vmax;
  width: 100%;
  max-width: calc(100vw - 40px);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: .65;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.in-view {
  z-index: 200;
  opacity: 1;
  width: calc(1000px - 40px);
  max-width: calc(100% - 40px);
}

.mission {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #303030;
}

.mission p {
  font-size: calc(5vmax + 5px);
  line-height: calc(5vmax + 5px);
  text-align: right;
  margin: 0 10vw;
}

.product-grid {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 769px) {
  .product-grid {
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
  }
  .product-grid .product-grid-section-two {
    margin: auto;
  }
}

.product-grid h1 {
  font-weight: 400;
}

.product-brand {
  text-transform: capitalize;
}

@media (min-width: 450px) {
  .product-additional-specs {
    padding: 0 40px;
  }
}

body {
  overflow-x: hidden;
}

h1 {
  padding: 40px 0;
  text-align: center;
}

p {
  color: #505050;
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .5px;
}

.content {
  min-height: calc(100vh - 200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1000px;
  max-width: 100%;
  padding: 40px 20px;
  background: #ffffff;
  margin: auto auto 80px;
}

.content > * {
  width: 100%;
}

.clipped {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  overflow: hidden;
  width: 0;
}

.loading {
  text-align: center;
}

.brand {
  background: #ff9966;
}
/*# sourceMappingURL=style.css.map */