@import 
    'reset/reset';

@import 
    'abstract/variables';

@import 
    'components/header',
    'components/menu',
    'components/footer';

.content {
    min-height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
  color: $brand;
}
